.profile-info{
	display: inline-block;
	width: calc(100% - 205px);
	vertical-align: top;
	padding: 10px;
}
.profile-hubby{
	margin-top: 20px;
	margin-bottom: 40px;
}
.gender{
	display: inline-block;
	margin-left: 100px;
}
.message-item-wrapper{
	margin: 20px 0;
	border: solid 1px #454545;
	height: 100px;
}
.delete-message{
	cursor: pointer;
	margin-right: 10px;
}
